[mysqld]
# 文字コード/照合順序の設定
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# タイムゾーンの設定
default-time-zone = SYSTEM
log_timestamps = SYSTEM

[mysql]
# 文字コードの設定
default-character-set = utf8mb4

[client]
# 文字コードの設定
default-character-set = utf8mb4